.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(bg01.JPG);
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(bg02.JPG);
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(bg03.JPG);
}
